/*Main CSS*/

body{
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

#header{
	width: 100%;
	height: 60px;
	padding-top: 17px;
	background-color: #5e5e5e;
	border-bottom: orange;
	border-bottom-width: 3px;
}

ul {
	z-index: -1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

.logo{
	float: left;
	margin: 0;
}

.logoMain{
	float: left;
	margin: 0;
}

.logoMain a{
	color: yellow;
}

li img{
	width: 50px;
	height: 25px;
}

li {
    float: right;
    margin: 0;
	color: white;
	font-size: 18px;
}

li a {
	transition: .5s ease;
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
	transition: .5s ease;
    font-style: bold;
    /*font-size: 20px;*/
    color: yellow;
}

#main{
	width: 100%;
	height: 550px;
    z-index: -1;
	background-image: url("/images/background3.jpg");
	background-repeat: no-repeat;
	/*background-position: center;*/
    background-size: 100%;
}

.content {
	text-align: center;
	max-width: 500px;
	/*margin-top: 50px;*/
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 50px;*/
}

#login-form{
	background-color: rgba(225, 225, 225);
	width: 250px;
	height: 280px;
	padding: 25px;
	position: absolute;
	top: 130px;
	left: 40%;
	border-radius: 5px;
}

#login-form h1{
	text-align: center;
	color: #424242;
}

.input-box input[type=password], input[type=text]{
	border:none;
	background:#fff; 
	display:block;
	margin: 0 auto;
	width: 90%;
	height: 30px;
	box-sizing: border-box;
	text-align: center;
}

.user img{
	position: absolute; 
	top: 110px; 
	margin-left: 210px;
	height: 20px;
	width: 20px;
}

.password img{
	position: absolute; 
	top: 158px; 
	margin-left: 210px;
	height: 20px;
	width: 20px;
}

#login-form form input[type=submit]{
	width: 90%;
	height: 40px;
	margin: 10px;
	background-color: #e24a4a;
	color: white;
	border-style: none;
	border-radius: 3px;
}

#login-form form input[type=submit]:hover {
	cursor: pointer;
	background-color: #cc3333;
}

#footer{
	width: 100%;
	height: 70px;
	margin-top: -17px;
	color: white;
	background-color: #5e5e5e;
}

#footer p{
	text-align: center;
}

#footer img{
	margin-top: 20px;
	padding-left: 3px;
	width: 25px;
	height: 25px;
}

/*=================================================*/
/*Register Form CSS*/

.register-box{
	text-align: center;
	padding-top: 100px;
	margin-bottom: 45px;
}

.register-box input[type=text], input[type=password]{
	height: 30px;
	width: 400px;
	margin-bottom: 25px;
	text-align: center;
}

.register-box input[type=text]:hover, input[type=password]:hover{
	border-color: lightpink;
	border-width: 3px;
}

.register-box input[type=file]{
	margin-bottom: 25px;
	margin-left: 10px;
	text-align: center;
}

.register-box input[type=submit]{
	height: 50px;
	width: 200px;
	border-style: hidden;
	border-radius: 8%;
	background-color: cadetblue;
	color: white;
	font-size: 20px;
}

.register-box input[type=submit]:hover{
	cursor: pointer;
	background-color: steelblue;
}

.register-box input[type=radio]{
	margin-left: 90px;
}

.register-box input[type=radio]:hover{
	cursor: pointer;
}

.register-box label{
	margin-left: 80px;
}

.register-box select{
	height: 45px;
	width: 400px;
	margin-bottom: 25px;
}

.error{
	color: red;
}

.no-error{
	color: black;
}

/*===========================================*/
/*dropdown menu css*/

.wrap{
	margin-top: 3px;
	margin-right: 1px;
}

.menu li{
	font-size: 17px;
	float: left;
	width: 135px;
	height: 50px;
	line-height: 20px;
	text-align: center;
	background-color: #5e5e5e;
}

.menu li a{
	color: #ffffff;
}

.menu li a:hover{
	/*opacity: 0.5;*/
	color: yellow;
}

.submenu li{
	font-size: 15px;
	padding-top: 8px;
	background-color: #5e5e5e;
	opacity: 0.9;
}

.submenu{
	display: none;
	z-index: 1;
}

.menu li:hover .submenu{
	display: block;
}

.cart{
    position: relative;
    height: 12px;
    width: 12px;
}

/*PHONE LIST CSS*/
#group{
	/*margin-right: 40%;*/
	margin-left: 35%;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-flex;
}

#search-bar {
	height: 30px;
	width: 300px;
	border: 0.5px solid black;
	text-align: left;
}

#search-button {
	margin-left: 10px;
	margin-top: -3px;
	height: 35px;
	width: 80px;
	border-radius: 14%;
	background-color: orange;
	border-style: solid;
	border-color: lightgray;
	color: #ffffff;
}

#search-button:hover{
	cursor: pointer;
	background-color: darkorange;
}

#search-option{
	height: 30px;
	width: 100px;
	margin-left: 10px;
	padding-bottom: 2px;
}

#commerce {
	height: 100px;
	width: 130px;
}

#buyButton {
	color: white;
	background-color: #2579a9;
	height: 30px;
	width: 100px;
	border-radius: 15%;
}

#buyButton:hover{
	cursor: pointer;
	background-color: #1f648b;
}

.table1{
    border-collapse: collapse;
    width: 100%;
}

.table1 th, td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table1 tr:hover{
    background-color: #f5f5f5;
}

/*===========================================*/
/*CART CSS*/
#payButton{
	font-size: 18px;
	height: 60px;
	width: 200px;
	background-color: #2579a9;
	color: white;
	border-radius: 7%;
	border-style: hidden;
}

#payButton:hover{
	cursor: pointer;
	background-color: #1f648b;
}

/*===========================================*/
/*ADDCART CSS*/
#addCart{
	height: 50px;
	width: 130px;
	background-color: #e24a4a;
	color: white;
	border-radius: 10%;
	border-style: hidden;
    margin-bottom: 25px;
}

#addCart:hover{
	cursor: pointer;
	background-color: #cc3333;
}

#scrollpane{
	width: auto;
	height: 150px;
	overflow: auto;
	border: 1px solid black;
}

#comment-box{
	margin-top: 50px;
}

#comment-box input[type=text]{
	text-align: left;
	/*width: 350px;*/
	/*height: 70px;*/
	padding: 50px 10%;
	margin-bottom: 25px;
	border: 0.5px solid black;
}

#comment-box input[type=submit]{
	height: 50px;
	width: 200px;
	border-style: hidden;
	border-radius: 8%;
	background-color: cadetblue;
	color: white;
	font-size: 20px;
	margin-bottom: 25px;
}

#comment-box input[type=submit]:hover{
	cursor: pointer;
	background-color: steelblue;
}

/*=================================================*/
/*INSERT PHONE CSS*/
.combobox {
	height: 30px;
	width: 270px;
	margin-left: 20px;
}

.input-3-box{
	height: 80px;
}

.input-3-box input{
	height: 30px;
	width: 177px;
	margin-top: 5px;
	margin-left: 10px;
}

/*====================================================*/
/*INSERT BRAND CSS*/
#login-form2{
	background-color: rgba(225, 225, 225);
	width: 250px;
	height: 240px;
	padding: 25px;
	margin-top: 50px;
	position: absolute;
	top: 130px;
	left: 40%;
	border-radius: 5px;
}

#login-form2 h1{
	text-align: center;
	color: #424242;
}

.input-box2 input[type=text]{
	border:none;
	background:#fff;
	display:block;
	margin: 0 auto;
	width: 90%;
	height: 40px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 40px;
}

#login-form2 form input[type=submit]{
	width: 90%;
	height: 40px;
	margin: 10px;
	background-color: #e24a4a;
	color: white;
	border-style: none;
	border-radius: 3px;
}

#login-form2 form input[type=submit]:hover {
	cursor: pointer;
	background-color: #cc3333;
}

/*=========================================*/
/*ADMIN UPDATE AND DELETE CSS*/
.updateButton{
	height: 30px;
	width: 70px;
	background-color: #2579a9;
	color: white;
	border-radius: 10%;
	border-style: hidden;
}

.updateButton:hover{
	cursor: pointer;
	background-color: #1f648b;
}

.deleteButton{
	height: 30px;
	width: 70px;
	background-color: #e24a4a;
	color: white;
	border-radius: 10%;
	border-style: hidden;
}

.deleteButton:hover{
	cursor: pointer;
	background-color: #cc3333;
}